<nav class='navbar navbar-expand-lg navbar-light' style="background-color: #e3f2fd">
  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>
  <div class='collapse navbar-collapse' id='navbarNav'>
    <ul class='navbar-nav mr-auto'>
      <li class='nav-item active'>
        <a class='nav-link' href='catalog.php'>Каталог товара<span class='sr-only'>(current)</span></a>
      </li>
    </ul>
    <a href="#" class="btn btn-secondary" role="button">Выйти</a>
  </div>
</nav>