<html>
  <head>
    <title>Сообщение</title>
  <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    {% include 'header.twig' %}
    {{ message }}
      <br><br>
    {% include 'footer.twig' %}
  </body>
</html>
