<html>
  <head>
    <title>Данные пользователя</title>
  <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    {% include 'header.phtml' %}
    {% if user.id %}
    <table style="border:1px solid black;">
      <tr>
        <td>ID</td>
        <td>{{ user.id }}</td>
      </tr>
      <tr>
        <td>email</td>
          <td>{{ user.email }}</td>
      </tr>
      <tr>
        <td>name</td>
          <td>{{ user.name }}</td>
      </tr>
    </table>
    {% else %}
        <b>Пользователь не найден</b>
    {% endif %}
      <br><br>
    {% include 'footer.phtml' %}
  </body>
</html>
